.FooterContainer{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(113, 25, 195);
    width: 100%;
    color: white;
    padding: 10px;
}