.headerContainer{
    display: flex ;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(113, 25, 195);
    color: white;
    box-shadow: 0 6px 8px rgb(0, 0, 0, 0.4);
}
