@media only screen and (min-width: 300px) {
  .TaskListContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .TaskListContainer div {
    box-shadow: 0 6px 8px rgb(0, 0, 0, 0.1);
    padding: 10px;
    width: 250px;
    display: flex;
    justify-content: space-between;
  }
  .TaskListContainer div span svg {
    margin-left: 4px;
    cursor: pointer;
  }
}
@media only screen and (min-width: 760px) {
    .TaskListContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }
    .TaskListContainer div {
        box-shadow: 0 6px 8px rgb(0, 0, 0, 0.1);
        padding: 20px;
        width: 500px;
    }
    .TaskListContainer div span svg {
        font-size: 20px;
    }
}

.Complete{
  text-decoration: line-through;
}